@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

/* Custom Properties */
:root {
	--grey-100: hsl(0, 0%, 98%);
	--grey-400: hsl(0, 0%, 41%);
	--grey-900: hsl(0, 0%, 8%);
}

/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Epilogue", sans-serif;
	/* outline: 1px solid red; */
}

p {
	font-size: 18px;
}

a {
	color: var(--grey-400);
	text-decoration: none;
	transition: all 250ms;
}

a:hover {
	color: var(--grey-900);
}

button {
	border: none;
	background-color: transparent;
	border-radius: 15px;
	font-size: 18px;
	cursor: pointer;
}

/* Layout */

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav {
	position: fixed;
	background-color: var(--grey-100);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.5rem;
	top: 0;
	right: -100vh;
	padding: 2rem;
	height: 100vh;
	width: 70%;
	font-size: 18px;
	/* opacity: 0.5; */
}

nav > *,
.subnav > * {
	color: var(--grey-400);
}

.subnav {
	display: flex;
	flex-direction: column;
}

.subnav__collapsable {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.subnav__collapsable:hover {
	color: var(--grey-900);
}

.subnav__collapsable img {
	margin-left: 1rem;
}

.subnav__links {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 1rem;
	margin-left: 2rem;
}

.subnav__links a {
	color: var(--grey-400);
}

.subnav__links img {
	margin-right: 0.5rem;
}

.nav__menu--close {
	align-self: flex-end;
}

.nav__account {
	width: 100%;
}

.nav__account .btn {
	width: 100%;
}

.main__hero {
	width: 100%;
	display: flex;
	justify-content: center;
}

.main__hero > * {
	max-width: 100%;
}

.main__content {
	text-align: center;
}

.main__content > * {
	margin-bottom: 2rem;
}

.main__title {
	font-size: clamp(2.2rem, 5vw + 1rem, 10rem);
	/* font-size: 2.2rem; */
}

.main__text {
	color: var(--grey-400);
	max-width: 40ch;
	margin: 2rem auto;
}

.main__clients {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;
	max-width: 750px;
	margin: 0 auto;
}

.main__clients img {
	width: 20%;
}

/* Util */
.btn {
	padding: 16px 32px;
	transition: all 250ms;
	color: var(--grey-400);
}

.btn:hover {
	color: var(--grey-900);
}

.btn--primary {
	background-color: var(--grey-900);
	color: var(--grey-100);
	border: 2px solid transparent;
}

.btn--primary:hover {
	background-color: transparent;
	border: 2px solid var(--grey-900);
	color: var(--grey-900);
}

.btn--secondary {
	border: 2px solid var(--grey-400);
	color: var(--grey-400);
}

.btn--secondary:hover {
	border: 2px solid var(--grey-900);
	color: var(--grey-900);
}

.transition {
	transition: all 250ms;
}

.translate {
	/* transform: translateX(-100%); */
	right: 0;
}

.container {
	padding: 2rem 1rem;
}

.hidden {
	display: none;
	opacity: 0;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (min-width: 1000px) {
	nav {
		position: static;
		background-color: transparent;
		left: 0;
		width: 100%;
		flex-direction: row;
		align-items: center;
		height: auto;
		padding: 0;
		margin-left: 5rem;
	}

	.nav__account {
		display: flex;
		flex-direction: row;
		width: auto;
		margin-left: auto;
	}

	.nav__menu {
		display: none;
	}

	.subnav__collapsable {
		position: relative;
	}

	.subnav__links {
		position: absolute;
		background-color: var(--grey-100);
		padding: 1rem;
		border-radius: 15px;
		box-shadow: 0 5px 15px;
		margin-left: -0.5rem;
		margin-top: 1.5rem;
		opacity: 100%;
	}

	main {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		max-width: 80vw;
		margin: 0 auto;
		gap: 2rem;
	}

	.main__hero {
		max-width: 40%;
	}

	.main__content {
		text-align: left;
		padding-bottom: 0;
		margin-top: -5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.main__content button {
		max-width: 250px;
	}

	.main__text {
		margin: 0 0 2rem 0;
	}

	.main__clients {
		justify-content: space-between;
		margin: 0;
	}
}
